{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de Usuarios</h1>
    <a href="{{ path("nusuario") }}" class="btn btn-success"><i class="fa fa-plus"></i> Añadir usuario</a>
    {% if (pagination.getTotalItemCount != 0) %}
        {# total items count #}
        <h5>Total de Usuarios: {{ pagination.getTotalItemCount }}</h5>
        <p></p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'Nombre', 'u.nombre') }}</th>
                    <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'Apellidos', 'u.apellidos') }}</th>
                    <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'Usuario', 'u.usuario') }}</th>
                    <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Tipo de Usuario', 'u.NivelDeAcceso') }}</th>
                    <th class="col-sm-1">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in pagination %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.usuario }}</td>
                        <td>{% if(usuario.nivelDeAcceso <= 1200)%}
                                Usuario
                            {% elseif(usuario.nivelDeAcceso <= 1500 ) %}
                                Documentador
                            {% else %}
                                Administrador
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('musuarios', {'id': usuario.id}) }}" class="btn btn-sm btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>
                            <a href="{{ path('borrar_usuario', {'id': usuario.id}) }}" class="btn btn-sm btn-danger" title="Borrar"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="paginador">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <h4 id="error">No hay ningun Usuario para mostrar, añada uno nuevo</h4>
    {% endif %}
{% endblock %}
