<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
    <link href="{{ asset('select2.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('html5-simple-date-input-polyfill/html5-simple-date-input-polyfill.css') }}">
    <link rel="stylesheet" href="{{ asset('app.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('jquery/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('jquery/select2.full.min.js') }}"></script>
<script src="{{ asset('jquery/ligthbox.min.js') }}"></script>
<script src="{{ asset('html5-simple-date-input-polyfill/html5-simple-date-input-polyfill.js') }}"></script>
<script src="{{ asset('jquery/index.js') }}"></script>
{% block javascripts %}{% endblock %}
<footer>
    <h5>Creado por Alejandro Arévalo Romero | Copyright {{ "now"|date("Y") }}</h5>
</footer>
</body>
