{% extends 'base.html.twig' %}

{% block title %}
    Museo Andrés Segovia
{% endblock %}

{% block body %}
   {% set ruta = app.request.get('_route') %}
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top barra center-block">
        <div class="container-fluid">
                <div class="navbar-top">
                    <div class="container-fluid">
                        <a class="navbar-brand col-xs-4" href="{{ path('homepage') }}">Museo Andrés Segovia</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                     <ul class="nav navbar-nav navbar-right col-xs-4">
                        {% if app.user %}
                        <div class="btn-group">
                            <ul class="nav navbar-nav navbar-right">
                                <li id="usuario"><a>{{ app.user }}</a></li>
                            </ul>

                            <ul class="dropdown-menu barra desplegable" role="menu">
                                <li><a href="{{ path('perfil') }}"><i class="fa fa-user"></i> Mi perfil</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('salir') }}"><i class="fa fa-power-off"></i> Salir</a></li>
                            </ul>
                        </div>
                        {% else %}
                            <li><a href="{{ path('login') }}">Acceder</a></li>
                        {% endif %}
                    </ul>
                </div>
                </div>
            </div>
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                        {% if app.user %}
                            <li{% if ruta == 'homepage' %} class="active"{% endif %}><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Inicio</a></li>
                            {% if is_granted('ROLE_DOCUMENTADOR') %}<li{% if ruta == 'listadoArticulos' %} class="active"{% endif %}><a href="{{ path('listadoArticulos') }}"><i class="fa fa-gift"></i> Articulos</a></li>{% endif %}
                            {% if is_granted('ROLE_DOCUMENTADOR') %}<li{% if ruta == 'listadoMultimedia' %} class="active"{% endif %}><a href="{{ path('listadoMultimedia') }}"><i class="fa fa-upload"></i> Multimedia</a></li>{% endif %}
                            {% if is_granted('ROLE_ADMIN') %}<li{% if ruta == 'listadoUsuarios' %} class="active"{% endif %}><a href="{{ path('listadoUsuarios') }}"><i class="fa fa-users"></i> Usuarios</a></li>{% endif %}
                            {% if is_granted('ROLE_DOCUMENTADOR') %}<li{% if ruta == 'listadoCategorias' %} class="active"{% endif %}><a href="{{ path('listadoCategorias') }}"><i class="fa fa-cubes"></i> Categorias</a></li>{% endif %}
                            {% if is_granted('ROLE_DOCUMENTADOR') %}<li{% if ruta == 'listadoArmarios' %} class="active"{% endif %}><a href="{{ path('listadoArmarios') }}"><i class="fa fa-briefcase"></i> Armarios</a></li>{% endif %}
                            {% if is_granted('ROLE_DOCUMENTADOR') %}<li{% if ruta == 'listadoArchivadores' %} class="active"{% endif %}><a href="{{ path('listadoArchivadores') }}"><i class="fa fa-book"></i> Archivadores</a></li>{% endif %}
                            <li><form action="{{ path('buscar') }}" id="buscar"><input type="text" name="busco"/><button type="submit" class="btn-success"><i class="fa fa-search" aria-hidden="true"></i></button></form></li>
                        {% else %}
                            <li{% if ruta == 'homepage' %} class="active"{% endif %}><a href="{{ path('homepage') }}"><i class="fa fa-gift"></i> Articulos</a></li>
                            <li{% if ruta == 'contacto' %} class="active"{% endif %}><a href="{{ path('contacto') }}"><i class="fa fa-child"></i> Contacto</a></li>
                            <li><form action="{{ path('buscar') }}"><input type="text" name="busco"/><button type="submit" class="btn-success"><i class="fa fa-search" aria-hidden="true"></i></button></form></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
            <div class="articulos">
            {% for articulos in pagination %}
                {% if  articulos.nombre %}
                            <div class="contenido-articulo col-md-4" >

                            <h2>{{ articulos.nombre|title }}</h2>
                            <p class="col-md-12">{{ articulos.observaciones|capitalize }}</p>
                            <!-- Trigger the modal with a button -->
                             <button type="button" class="btn btn-info btn-lg-4 col-md-4 col-xs-6 col-sm-6 col-md-offset-4" data-toggle="modal" data-target="#{{ articulos.id }}">Ver</button>
                            </div>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ articulos.id }}" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ articulos.nombre|title }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="multimedia">
                                        {% for numero in articulos.multimedia %}
                                            {% if ("image" in numero.getType() ) %}
                                                <a href="{{ numero.multimedia }}" rel="lightbox[galeria{{ articulos.id }}]"><img src="{{ numero.multimedia }}" class="col-md-6" alt="{{ numero.nombre }}"></a>
                                            {%  endif %}
                                            {% if ("video" in numero.getType() ) %}
                                                <video class="col-md-6" width="320" height="240" controls>
                                                    <source src="{{ numero.multimedia }}" type="{{ numero.getType() }}">
                                                    Tu navegador no soporta el elemento de video.
                                                </video>
                                            {%  endif %}
                                            {% if ("audio" in numero.getType() ) %}
                                                <audio controls class="col-md-6">
                                                    <source src="{{ numero.multimedia }}" type="{{ numero.getType() }}">
                                                    Tu navegador no soporta el elemento de audio.
                                                </audio>
                                            {%  endif %}
                                        {% endfor %}
                                        </div>
                                        <hr />
                                        <p>{{ articulos.observaciones|capitalize }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                {% else %}
                            <div class="col-md-6 col-md-offset-3">
                                <h2>No hay Actualmente ningun Artículo en el museo</h2>
                            </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}