{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listado de Archivadores</h1>
    {% if is_granted('ROLE_DOCUMENTADOR') %}<a href="{{ path("nuevo_arch") }}" class="btn btn-success"><i class="fa fa-plus"></i> Añadir archivador</a>{% endif %}
    {# total items count #}
    <h5>Total de Archivadores: {{ pagination.getTotalItemCount }}</h5>
    <p></p>
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Numero', 'a.Numero') }}</th>
            <th class="col-sm-4">{{ knp_pagination_sortable(pagination, 'Color', 'a.Color') }}</th>
            <th class="col-sm-5">{{ knp_pagination_sortable(pagination, 'Armario', 'a.Armario') }}</th>
            {% if is_granted('ROLE_DOCUMENTADOR') %}<th class="col-sm-1">Acciones</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for archivador in pagination %}
            <tr>
                <td>{{ archivador.numero }}</td>
                <td>{{ archivador.color }}</td>
                <td>{{ archivador.armario }}</td>
                {% if is_granted('ROLE_DOCUMENTADOR') %}
                    <td>
                        <a href="{{ path('modificar_arch', {'id': archivador.id}) }}" class="btn btn-xs btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('borrar_archivador', {'id': archivador.id}) }}" class="btn btn-xs btn-danger" title="Borrar"><i class="fa fa-trash"></i></a>{% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
        {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
