{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de Articulos del Archivador {{ archivador }}</h1>
    {% if (pagination.getTotalItemCount != 0) %}
        {# total items count #}
        <h5>Total de Articulos: {{ pagination.getTotalItemCount }}</h5>
        <p></p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-1">Archivos Multimedia</th>
                    <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'Nombre', 'e.nombre') }}</th>
                    <th class="col-sm-3">Observaciones</th>
                    <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Fecha Alta', 'e.fechaAlta') }}</th>
                    <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Categoria', 'cat.nombre') }}</th>
                    {% if is_granted('ROLE_DOCUMENTADOR') %}<th class="col-sm-1">Acciones</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for elemento in pagination %}
                    <tr{% if(elemento.fechaBaja and is_granted('ROLE_ADMIN')) %} class="danger" {% endif %}>
                        <td>
                            {% if(is_granted('ROLE_DOCUMENTADOR')) %}
                                {% if(elemento.multimedia|length!=0) %}
                                    {% for numero in elemento.multimedia %}
                                        <a href="{{ path('visor_Archivo', {'id':numero.id}) }}">{{ numero.nombre }}</a><br/>
                                    {% endfor %}
                                {% else %}
                                    {{ elemento.multimedia|length }}
                                {% endif %}
                            {% else %}
                                {{ elemento.multimedia|length }}
                            {% endif %}
                        </td>
                        <td>{{ elemento.nombre }}</td>
                        <td>{{ elemento.observaciones }}</td>
                        <td>{{ elemento.fechaAlta | date("d/m/Y") }}</td>
                        <td>{% if(is_granted('ROLE_DOCUMENTADOR')) %}<a href="{{ path('contenido_Categoria', {'id': elemento.categoria.id}) }}">{{ elemento.categoria }}</a>{% else %}{{ elemento.categoria }}{% endif %}</td>
                        {% if is_granted('ROLE_DOCUMENTADOR') %}
                            <td>
                                {% if elemento.fechaBaja is null %}<a href="{{ path('modificar_articulo', {'id': elemento.id}) }}" class="btn btn-sm btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>{% endif %}
                                {% if is_granted('ROLE_ADMIN') %}{% if elemento.fechaBaja is null %}<a href="{{ path('desactivar_articulo', {'id': elemento.id}) }}" class="btn btn-sm btn-danger" title="Desactivar"><i class="fa fa-download"></i></a>{% endif %}{% endif %}
                                {% if is_granted('ROLE_ADMIN') %}{% if elemento.fechaBaja is not null %}<a href="{{ path('reactivar_articulo', {'id': elemento.id}) }}" class="btn btn-sm btn-success" title="Reactivar"><i class="fa fa-upload"></i></a>{% endif %}{% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="paginador">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div id="botones">
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info"><i class="fa fa-reply"></i> Volver</a>
        </div>
    {% else %}
        <h4 id="error">Este Archivador está vacío</h4>
    {% endif %}
{% endblock %}
