{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listado de Archivadores</h1>
    {% if is_granted('ROLE_DOCUMENTADOR') %}<a href="{{ path("nuevo_arch") }}" class="btn btn-success"><i class="fa fa-plus"></i> Añadir archivador</a>{% endif %}
    {% if (pagination.getTotalItemCount != 0) %}
        {# total items count #}
        <h5>Total de Archivadores: {{ pagination.getTotalItemCount }}</h5>
        <p></p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Numero', 'a.numero') }}</th>
                    <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'Color', 'a.color') }}</th>
                    <th class="col-sm-3">Descripción del Archivador</th>
                    <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'Armario', 'ar.nombre') }}</th>
                    {% if is_granted('ROLE_DOCUMENTADOR') %}<th class="col-sm-1">Acciones</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for archivador in pagination %}
                    <tr>
                        <td>{% if(is_granted('ROLE_DOCUMENTADOR')) %}<a href="{{ path('contenido_Archivador', {'id': archivador.id}) }}">{{ archivador.numero }}</a>{% else %}{{ archivador.numero }}{% endif %}</td>
                        <td>{{ archivador.color }}</td>
                        <td>{{ archivador.descripcion }}</td>
                        <td>{% if(is_granted('ROLE_DOCUMENTADOR')) %}<a href="{{ path('contenido_Armario', {'id': archivador.armario.id}) }}">{{ archivador.armario }}</a>{% else %}{{ archivador.armario }}{% endif %}</td>
                        {% if is_granted('ROLE_DOCUMENTADOR') %}
                            <td>
                                <a href="{{ path('modificar_arch', {'id': archivador.id}) }}" class="btn btn-sm btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>
                                {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('borrar_archivador', {'id': archivador.id}) }}" class="btn btn-sm btn-danger" title="Borrar"><i class="fa fa-trash"></i></a>{% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="paginador">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <h4 id="error">No hay ningun Archivador para mostrar, añada uno nuevo</h4>
    {% endif %}
{% endblock %}
