{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        {% if elementos.id %}
            Modificar Articulo {{ elementos.nombre }}
        {% else %}
            Nuevo Articulo
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group" id="envio">
        <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info"><i class="fa fa-reply"></i> Volver</a>
    </div>
    {{ form_end(form) }}
{% endblock %}