{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de Elementos</h1>
    <a href="{{ path("nuevo_articulo") }}" class="btn btn-success"><i class="fa fa-plus"></i> Añadir articulo</a>
    {# total items count #}
    <h5>Total de Articulos: {{ pagination.getTotalItemCount }}</h5>
    <p></p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-sm-1">Multimedia</th>
            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Nombre', 'a.Nombre') }}</th>
            <th class="col-sm-2">Observaciones</th>
            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Fecha Alta', 'a.Fecha Alta') }}</th>
            <th class="col-sm-2">Archivador</th>
            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'Categoria', 'a.Categoria') }}</th>
            <th class="col-sm-1">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for elemento in pagination %}
            <tr{% if(elemento.fechaBaja and is_granted('ROLE_ADMIN')) %} class="danger" {% endif %}>
                <td>{{ elemento.multimedia[0] }}</td>
                <td>{{ elemento.nombre }}</td>
                <td>{{ elemento.observaciones }}</td>
                <td>{{ elemento.fechaAlta | date("d/m/Y") }}</td>
                <td>{{ elemento.archivador }}</td>
                <td>{{ elemento.categoria }}</td>
                <td>
                    <a href="{{ path('modificar_articulo', {'id': elemento.id}) }}" class="btn btn-xs btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>
                    {% if elemento.fechaBaja is null %}<a href="{{ path('borrar_articulo', {'id': elemento.id}) }}" class="btn btn-xs btn-danger" title="Borrar"><i class="fa fa-trash"></i></a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
