    <h3>Correo enviado por: {{ nombre }} {{ apellidos }}</h3>
    <h3>Email de {{ nombre }}: {{ email }}</h3>
    <h3>Asunto del mensaje: </h3><p>{{ asunto }}</p>
    <h3>Contenido del mensaje:</h3>
    <p>{{ contenido }}</p>


    <h5>Mensaje enviado por la aplicación web Museo Andrés Segovia</h5>


