{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        {% if multimedia.id %}
            Modificar Archivo Multimedia {{ multimedia }}
        {% else %}
            Nuevo Archivo Multimedia
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group" id="envio">
            <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
            <button type="button" name="volver" class="btn btn-info"><a href="{{ path('listadoMultimedia') }}"><i class="fa fa-reply"></i> Volver</a></button>
    </div>
    {{ form_end(form) }}
{% endblock %}