{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de Archivos Multimedia</h1>
    <a href="{{ path("nuevo_multimedia") }}" class="btn btn-success"><i class="fa fa-plus"></i> Añadir archivo multimedia</a>
    <p></p>
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th class="col-sm-5">Nombre</th>
            <th class="col-sm-5">Fichero Multimedia</th>
            <th class="col-sm-1">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for ficheros in multimedia %}
            <tr>
                <td>{{ ficheros.nombre }}</td>
                <td><img src="uploads/{{ ficheros.nombre }}"</td>
                <td>
                    <a href="{{ path('modificar_multimedia', {'id': ficheros.id}) }}" class="btn btn-xs btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>
                   {# <a href="{{ path('#', {'id': material.id}) }}" class="btn btn-xs btn-danger" title="Borrar"><i class="fa fa-trash"></i></a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
