{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de Archivos Multimedia</h1>
    <h5>Total de Articulos: {{ pagination.getTotalItemCount }}</h5>
        <p></p>
        <div class="table-responsive col-sm-8">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-3">Nombre</th>
                    <th class="col-sm-4">Descripción</th>
                    {% if is_granted('ROLE_DOCUMENTADOR') %}<th class="col-sm-1">Acciones</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for ficheros in pagination %}
                    <tr>
                        <td>{% if(is_granted('ROLE_DOCUMENTADOR')) %}<a href="{{ path('visor_Multimedia',{'id': ficheros.id}) }}" >{{ ficheros.nombre }}</a>{% else %}{{ ficheros.nombre }}{% endif %}</td>
                        <td>{{ ficheros.observaciones }}</td>
                        {% if is_granted('ROLE_DOCUMENTADOR') %}
                            <td>
                                <a href="{{ path('modificar_multimedia', {'id': ficheros.id}) }}" class="btn btn-sm btn-info" title="Modificar"><i class="fa fa-pencil"></i></a>
                                {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('borrar_multimedia', {'id': ficheros.id}) }}" class="btn btn-sm btn-danger" title="Borrar"><i class="fa fa-trash"></i></a>{% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 visor">
                {% if ("image" in tipo ) %}
                    <img src="{{ archivo }}" alt="{{ contenido }}">
                {%  endif %}
                {% if ("video" in tipo ) %}
                    <video controls controlsList="nodownload">
                        <source src="{{ archivo }}" type="{{ tipo }}">
                        Tu navegador no soporta el elemento de video.
                    </video>
                {%  endif %}
                {% if ("audio" in tipo ) %}
                    <audio controls controlsList="nodownload">
                        <source src="{{ archivo }}" type="{{ tipo }}">
                        Tu navegador no soporta el elemento de audio.
                    </audio>
                {%  endif %}
        </div>
    <div id="botones">
        <a href="javascript:history.go(-1);" class="btn btn-info"><i class="fa fa-reply"></i> Volver</a>
    </div>
{% endblock %}
